@media only screen and (max-width: 2500px) and (min-width: 1600px) {
  
  .container, .mml-row {
      max-width: 1200px;
  }
  .footer-cont h2 {
    max-width: 1080px;
  }
  .banner-text {
    max-width: 822px;
}
.oem-section {
    padding-left: 10%;
    padding-top: 70px;
}
.idp-btn a {
    min-width: 313px;
}

}
@media only screen and (min-width: 1500px) and (max-width: 2500px){
    .banner {
        min-height: 680px;
        background-position: right center;
    }
}

@media only screen and (max-width: 1600px){
.top-section:before {
    top: 390px;
    height: 400px;
    width: 120px;
}
.strict-section .neoprene-card h3{
    font-size: 20px;
}
h1 {
    font-size: 33px;
    line-height: 38px;
}
p {
    font-size: 15px;
    line-height: 21px;
}
.idp-btn a {
    margin-top: 30px;
    height: 66px;
}
/*h2 {
    font-size: 38px;

}*/

.neoprene-card h3 {
    font-size: 19px;
}

.neoprene-card img {
    margin-bottom: 30px;
    width: 100px;
}
.strict-section .neoprene-card {
    padding: 30px;
}
.professional h4 {
    font-size: 22px;
    line-height: 25px;
    padding: 20px 0 10px;
}
}
@media only screen and (max-width: 1300px){
    .product__slider-thmb .slick-prev {
        left: 0px;
    }
    .product__slider-thmb .slick-next {
        right: 0px;
    }
    .center .slick-prev{
        left: 0px;
    }
    .center .slick-next{
        right: 0;
    }
    .center2 .slick-prev{
        left: 0px;
    }
    .center2 .slick-next{
        right: 0;
    }
    .center3 .slick-prev{
        left: 0px;
    }
    .center3 .slick-next{
        right: 0;
    }
    .center3 .slick-prev, .center3 .slick-next {
    background: transparent;
}
}

@media only screen and (max-width: 1199px){
  .banner-text h1 {
    font-size: 30px;
    line-height: 38px;
    padding-bottom: 16px;
}
.idp-btn a {
    margin-top: 34px;
}
.banner-text {
    top: 23%;
    max-width: 440px;
}
.aspect-box{
    padding-right: 0px;
}
/*.center .slick-prev, 
.center .slick-next{
    left: -300px;
}*/
/*.center .slick-next {
    right: auto;
    left: -200px;
}*/
.footer-cont h2 {
    font-size: 30px;
    max-width: 530px;
    line-height: 42px;
}
.oem-section {
    padding-left: 2%;
}
/*.successful-item-box img {
    max-width: 600px;
    width: 100%;
}*/
.gallery-menu button {
    padding: 4px 12px;
    font-size: 14px;
    height: 40px;
    margin-left: 10px;
}
.form-box h3 {
    font-size: 30px;
}

.sec-top-padd {
    padding-top: 84px;
}


}




@media only screen and (max-width: 1024px){
 .slider-gap {
    background: url(../img/comma.png) no-repeat 346px 43px;
}   

}








@media only screen and (max-width: 991px){

.skill:nth-child(1) .skill-per::before {
    padding: 10px 10px 3px 10px;
}
    
.slider-gap {
    background: url(../img/comma.png) no-repeat 189px 79px;
}

.banner {
    float: none;
    display: flex;
    flex-direction: column;
}
 .header-row a {
    position: static;
    margin: 0;
    padding: 20px 0;
}
.header-row.is-sticky a {
    padding: 5px 0;
}

.banner img {
    width: 100%;
}
.banner-text {
    max-width: 350px;
}
.header-row a img {
    max-width: 200px;
    margin: 0 auto;
}
.sec-padd {
    padding-top: 40px;
    padding-bottom: 40px;
}

.neoprene-section, .easy-stap {
    padding-top: 0px;
}

.footer-cont a {
    font-size: 16px;
    padding: 16px 15px;
    font-weight: 500;
    max-height: 56px;
}

h2 {
    font-size: 25px;
    line-height: 45px;
}
.successful-stories h2 {
    padding-bottom: 13px;
}
.brand-area {
    position: static;
    margin-bottom: 60px;
}
.successful-stories {
    padding-top: 0px;
}
.form-box {
    border-radius: 5px;
    padding: 30px 20px 40px;
}
.form-box input {
    padding: 0 8px;
}
.form-box textarea {
    padding: 12px 8px;
}
.form-box .wpcf7-submit {
    height: 40px;
    line-height: 45px;
}
.customization h2 {
    padding-bottom: 27px;
}
.testimonial-item {
    padding-bottom: 60px;
}
.aspect-box {
    max-width: 100%;
}

.banner {
    background-position: right center;
    min-height: 350px;
}
.logo {
    width: 150px;
    height: 60px;
}
.logo a img {
    width:108px;
}
.banner-text h1 {
    font-size: 25px;
    line-height: 28px;
    padding-bottom: 11px;
}
p {
    font-size: 14px;
    line-height: 20px;
}
.idp-btn a {
    margin-top: 20px;
        height: 36px;
    font-size: 12px;
   min-width: 164px;
}
.form-box h2 {
    font-size: 19px;
    line-height: 22px;
}
.form-left-area > p {
    padding-bottom: 25px;
    padding-top: 10px;
}
.form-left-feature h4 {
    font-size: 16px;
    line-height: 19px;
}
.strict-section{
    padding-top: 40px;
}
.amazon-business-inner .col-sm-6{
	margin-bottom:20px;}

.slider-gap {
    padding-left: 0px;
}

.footer-cont-apply-area {
    display: block;
    text-align: center;
}
.footer-cont h2 {
    font-size: 22px;
    max-width: 100%;
    line-height: 30px;
    padding-bottom: 30px;
}
.banner-text{
    padding: 50px 0;
}
.form-box {
    margin-left: 0px;
}
.panel-factory-box2 {
    text-align: center;
    padding: 30px;
    width: 25%;
}
.sec-top-padd {
    padding-top: 40px;
}
.support {
    padding-bottom: 50px;
}
.customize h2 {
    padding-bottom: 30px;
}
.form-box h3 {
    padding: 0 2% 14px;
    font-size: 25px;
}
.gallery_area .col-md-6{
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
.gallery_area {
    padding-top: 0px;
}
.tabbed-content .item.active .item-content {
    padding-left: 40px;
}
.form-box {
    margin-left: 4%;
}
.panel-making-title p {
    padding-bottom: 20px;
}
.form-wrap label{
    width: 100%;
}
}


@media only screen and (max-width: 767px){


.skills {
    margin-top: 70px;
}
     
.slick-prev:after {
    left: 42px;
}

.slider-gap {
    background: url(../img/comma.png) no-repeat 189px 79px;
}

.scrollup {
    width: 40px;
    height: 25px;
    line-height: 22px;
    margin-top: 10px;
}

.harinzaltal-tab p {
    width: 100%;
}

.footer-cont {
    display: block;
    text-align: center;
    padding: 40px 0 50px;
}
.footer-cont h2 {
    max-width: 100%;
    line-height: 40px;
    padding-bottom: 30px;
    font-size: 18px;
    line-height: 28px;
}
.customization-area:before{
    display: none;
}
.customization-area .row .col-md-3:nth-child(even) .customization-item {
    padding-top: 0px;
}
.customization-item p {
    margin: 0 auto 20px;
}

.oem-section:before {
    content: "";
    width: 74%;
}
.profe-text {
    padding-left: 0px;
}
.featured-product.hot-collection h2 {
    padding-bottom: 30px;
    text-align: center;
    font-size: 24px;
}
.gallery-menu {
    margin-bottom: 26px;
}
.pricing-category .details-list-option p {
    font-size: 12px;
}


/*===============================MediaQuery================================*/
.form-left-area h2 {
    padding-top: 60px;
    font-family: effra, sans-serif;
    font-weight: 500;
    font-size: 26px;
    margin-bottom: 40px;
}

.sectionheading h2 {
    font-family: effra, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    padding-bottom: 40px;
    max-width: 847px;
    margin: 0 auto;
}

.footer-cont a {
    font-size: 14px;
    padding: 10px 15px;
}

.service-section.free-service h2 {
    padding-bottom: 40px;
    text-align: left;
}

/* ============= */
.banner-text {
    padding: 50px 20px;
    background: rgba(22,57,157,0.5);
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
}
.logo{
    background: rgba(22,57,157,0.5);
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    width: 100%;
    height: 40px;
    z-index: 1;  
}
.banner {
    background-position: center;
    min-height: 280px;
}
.high-speed-content {
    padding-left: 0px;
    padding-top: 130px;
}
.nobody p {
    max-width: 100%;
}
.panel-factory-box2 {
    text-align: center;
    padding: 10px;
    width: 33%;
    margin-bottom: 20px;
}
.customize-cont {
    padding: 40px 0;
}
.tabbed-content {
    padding: 0px;
}
.Benefits h3 {
    font-size: 22px;
}
.nobody {
    padding: 40px 0;
}
.form-box {
    margin-left: 0px;
}
#who .progress_bar {
    margin: 93px 0px 0px;
}
.gallery-top {
    height: 300px;
}
}


@media only screen and (max-width: 667px ) {

.banner-text h1 {
    font-size: 18px;
    line-height: 10px;
}
.service-section.free-service h2 {
    padding-bottom: 40px;
    text-align: left;
}


.form-left-area h2 {
    padding-top: 60px;
    font-family: effra, sans-serif;
    font-weight: 500;
    margin-bottom: 40px;
}
.featured-product-card-text {
    padding: 17px 15px;
}

}


/*===============================MediaQuery================================*/





@media only screen and (max-width: 640px){
    .aspect {
        flex-direction: column;
    }
    .aspect img {
        margin-right: 0px;
        max-height: inherit;
        width: 100%;
        margin-bottom: 20px;
    }
    .neoprene-card {
        padding-top: 20px;
        padding-right: 0px;
    }
    .successful-item {
    border-left: 0px solid #d6e3eb;
    padding: 0px;
    }
    .form-left-feature h4 {
        padding: 2px 0 5px;
   }
   .form-sectiob {
    padding-top: 0px;
}
.form-left-area {
    padding-right: 0px;
}

.ipt-row {
    margin-bottom: 20px;
}
.banner-text {
    max-width: 100%;
}

.banner-cont .container{
    padding: 0 0px;
}


.form-left-area h3 {
    text-align: center;
}
.neoprene-card {
    text-align: center;
}
.regular .slick-prev, 
.regular .slick-next {
    top: 52%;
    width: 35px;
    height: 35px;
    -webkit-transform: translate(0, -58%);
    -ms-transform: translate(0, -58%);
    transform: translate(0, -58%);
    
}
.successful-stories {
    padding-bottom: 10px;
}
.aspect-section {
    padding-bottom: 10px;
}
.neoprene-section, .easy-stap {
    padding-bottom: 10px;
}
.aspect-section h2 {
    padding-bottom: 27px;
}
.featured-product {
    padding-bottom: 20px;
        padding-top: 0px;
}
.neoprene-card h3 {
    font-size: 18px;
}
.banner-text h1 {
    font-size: 19px;
    line-height: 28px;
}
.form-sectiob {
    padding-bottom: 0px;
}
.form-box {
    padding: 30px 0px 20px;
    box-shadow: none;
}
.testimonial-section .section-main-heading {
    padding-top: 40px;
}
.testimonial-item:before {
    height: 170px;
}
.testimonial-items {
    padding-top: 115px;
}
.idp-btn a {
    padding: 10px 10px;
    font-size: 13px;
}
.form-box .wpcf7-submit {
    height: 50px;
    font-size: 16px;
}
.footer-cont a {
    font-size: 16px;
    padding: 10px 15px;
}
.form-row .form-wrap span {
    width: 100%;
}
.featured-product .col-sm-6, .neoprene-section .col-sm-6 {
    margin-bottom: 0px;
}
h2 {
    font-size: 20px;
    line-height: 30px;
}
.form-left-area h2 {
    padding-top: 0px;
}
.neoprene-card img {
    width: 80px;
    margin: 10px auto 15px;
}
.benefit{
    padding-bottom: 40px;
}
.neoprene-section.benefit  h2 {
    padding-bottom: 0px;
}
.neoprene-section.strict-section h2 {
    padding-bottom: 20px;
}
.strict-section .neoprene-card span {
    font-size: 30px;
}
.strict-section .neoprene-card h3 {
    font-size: 16px;
}
.strict-section .neoprene-card {
    padding: 12px;
}
.professional h2 {
    padding-bottom: 20px;
}
.profe-text {
    padding-bottom: 20px;
}
.form-row span {
    margin-bottom: 10px;
}
.professional h4 {
    font-size: 17px;
    padding: 12px 0 2px;
}
.gallery-menu {
    display: block;
}
.gallery-menu button {
    height: 35px;
    margin-left: 0px;
    width: 100%;
    margin-bottom: 5px;
}
.professional .col-sm-4:last-child .profe-text{
    padding-bottom: 0px;
}
.oem-section {
    padding-left: 0%;
    padding: 0 15px;
}



/* ============ */


.harizental-left-side {
    padding-top: 20px;
}
.pricing-box {
    margin-bottom: 20px;
}
.amazon-business-section {
    padding: 40px 0px;
    font-size: 
}
.source-section {
    padding: 40px 0 0px;
}
.customization .vertical-tab h2 {
    font-size: 20px;
}
.customization.harinzaltal-tab h2 {
    padding-top: 40px;
    line-height: 30px;
}
.harinzaltal-tab p {
    padding-bottom: 0px;
    padding-top: 0px;
}
.service-section.free-service h2 {
    padding-bottom: 40px;
    padding-top: 0px;
}
.free-service-video img {
    margin-bottom: 30px;
}
.featured-product.supply-area {
    padding-bottom: 20px;
    padding-top: 40px;
}
.supply-area .col-sm-6 {
    margin-bottom: 20px;
}
.supply-area .form-left-area h3 {
    font-size: 20px;
}
.featured-product.hot-collection.service-section {
    padding-top: 40px;
}
.featured-product.hot-collection.service-section  h2 {
    padding-bottom: 30px;
    text-align: center;
}
.form-box h3 {
    font-size: 20px;
}
.details-list-option img{
    width: 40px;
}
.trouble-area .form-left-feature .details-list-cont h4 {
    padding-bottom: 10px;
    padding-top: 3px;
}
.home-form {
    background-image: none !important;
}

.free-service .successful-item-box img {
    width: 100%;
}
.service-section .successful-item h4 {
    padding-top: 20px;
}
.harinzaltal-tab span img {
    width: 100px;
    margin: 20px 0px;
}
.featured-product.hot-collection.service-section.source-section h2 {
    padding-bottom: 0px;
}
.source-section .section-main-heading p {
    padding: 20px 0 0px;
}
.pricing-section .amazon-business-box {
    padding: 10px;
}
.pricing-section .amazon-business-box {
    border-right: 0px solid #e5e5e5;
}
}


/*===============================MediaQuery================================*/

@media only screen and (max-width: 576px ){


.service-section.free-service h2 {
    padding-bottom: 40px;
    text-align: left;
}


.form-left-area h2 {
    padding-top: 0px;
    font-family: effra, sans-serif;
    font-weight: 500;
    margin-bottom: 40px;
}
.panel-factory-box2 {
    text-align: center;
    padding: 30px;
    width: 50%;
}

.logo a img {
    width: 160px;
}
.technical_strength_list img{
    width: 50%;
}
.support_list img{
    width: 44%;
}
.featured-product-card-text{
    padding-bottom: 15px;
}

.featured-product-card-text h4 {
    padding-top: 20px;
}
.technical_strength_list img {
    width: 43%;
    max-width: auto;
    margin-bottom: 20px;
}
.panel-factory-box2 {
    padding: 10px;
}
.panel-factory {
    padding-bottom: 0px;
}
.form-box {
    margin-left: 0%;
}
.Benefits {
    padding-top: 40px;
    padding-bottom: 40px;
}
.Benefits h3 {
    max-width: 100%;
    width: 100%;
}
.list_features {
    padding-left: 15px;
    padding-right: 15px;
}
.form-left-area h2 {
    margin-bottom: 15px;
}
.sectionheading h2 {
    padding-bottom: 15px;
}
}


@media only screen and (max-width: 480px ) {


.service-section.free-service h2 {
    padding-bottom: 40px;
    text-align: left;
}



.form-left-area h2 {
    padding-top: 0px;
    font-family: effra, sans-serif;
    font-weight: 500;
}


.vertical-tab p{
    text-align: center;
}
.panel-factory-box2 {
    width: 100%;
}
.bar-inner-1:after {
    right: 0px;
}
}


@media only screen and (max-width: 420px){

    .panel-making-title p {
    padding-bottom: 20px;
}


}


/*===============================MediaQuery================================*/


@media only screen and (max-width: 375px){

    .panel-making-title p {
    padding-bottom: 20px;
}
    .support{
        padding-top: 0px;
    }
    .panel-factory {
    padding-top: 75px;
}

}



@media only screen and (max-width: 320px){

.slider-gap {
    background: url(../img/comma.png) no-repeat 153px 79px;
}

}